{% load static %}


<div class="main-nav-container">
    <button id="collapsed-nav-button"><img src="{% static 'catalog/Figures/menu.png' %}"></button>

    <!-- Javascrpit for collapsed nav -->

    <script>
        document.getElementById('collapsed-nav-button').addEventListener('click',function() {
            var navMenu = document.getElementById('collapsed-nav-expanded');
            var navMenuDisplay = window.getComputedStyle(navMenu).display;
            if(navMenuDisplay === 'none'){
                navMenu.style.display = 'block';
            }
            else{
                navMenu.style.display = 'none';
            }
            })
    </script>

    {% if user.is_authenticated %}
    <div id="main-profile-container">
        <div id="main-profile-button-container">
            <button class="main-profile-button" id="collapsed-nav-profile-button"></button>
            <div class="main-profile-selection-list" id="collapsed-nav-user-menu">
                {% if user.groups.first.name == "Organizer" %}
                <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                {% endif %}
                <a href="{% url 'maedweb:logout' %}">Sign Out</a>
            </div>
        </div>
    </div>
    <!-- Javascrpit for user menu -->

    <script>
        document.getElementById('collapsed-nav-profile-button').addEventListener('click',function() {
            var userMenu = document.getElementById('collapsed-nav-user-menu');
            var userMenuDisplay = window.getComputedStyle(userMenu).display;
            if(userMenuDisplay === 'none'){
                userMenu.style.display = 'block';
            }
            else{
                userMenu.style.display = 'none';
            }
            })
    </script>
    {% else %}
    <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
    {% endif %}
</div>
<div id="collapsed-nav-expanded">
    <div class="collapsed-nav-a-flexbox">
        <a href = "/catalog/restaurants" {% if activities == "restaurants" %} class="active" {% endif %}>Restaurants</a>
        <a href = "/catalog/entertainment" {% if activities == "entertainment" %} class="active" {% endif %}>Entertainment</a>
        <a href = "/catalog/events" {% if activities == "events" %} class="active" {% endif %}>Events</a>
    </div>

    {% if include_filters == "yes" %}
        {% include "./search-filters.html" with mobile="yes" activities=activities %}
    {% endif %}

    
</div>
