html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, input {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
line-height: 1;
font-family: 'Inter', 'Arial';
}

input, select {
vertical-align:middle;
}


table {
border-collapse: collapse;
border-spacing: 0;
}
/* Above is css starter so that every browser would display html the same. */
/* Below is everything for index page */
#index-body{
    background-image: url("Images/sunset-3726030_1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(145, 55, 3);
}

#login{
    position: absolute;
    display: block;
    width: 4vw;
    left: 93.5vw;
    top: 3vh;
}

#index-header{
    margin-top: 16vh;
    margin-bottom: 18.8vh;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#index-logo{
    display: block;
    margin: 0 auto;
    width:20%;
}

.index-nav{
    background: rgba(255, 255, 255, 0.6);
    display: block;
    height: 9.6vh;
    width: 29.6vw;
    float: left;
    margin-left: 2.8vw;

    text-decoration: none;
    font-family: 'Average';
    font-weight: 550;
    font-size: 2vw;
    line-height: 9.6vh;
    align-items: center;
    text-align: center;
    color: #000000;
}

.index-nav:hover{
    background: rgba(255, 238, 0, 0.6);
}

#index-profile-container{
    display: flex;
    position: absolute;
    top: 3vh;
    right: 3vw;
}

#index-username{
    margin-right: 10px;
    width: fit-content;
    font-family: 'Inter';
    text-align: right;
    font-weight: 550;
    font-size: 20px;
    line-height: 78px;
    color: #FFFFFF;
}

#index-profile-button{
    cursor: pointer;
    display: block;
    float: right;
    align-items: right;
    background-image: url("Figures/profile-white.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    border: none;
    width: 78px;
    height: 78px;
    margin-right: 21px;
    margin-left: 21px;
}

#index-profile-button:hover + #index-profile-selection-list, #index-profile-selection-list:hover{
    display: block;
}

#index-profile-button:focus + #index-profile-selection-list{
    display: block;
}

#index-profile-selection-list{
    display: none;
    clear: both;
    width: 120px;
    height: 120px;
}

#index-profile-selection-list a{
    display: block;
    height: 40px;
    background-color: rgba(255, 199, 0, 0.8);
    border-bottom: #000000 solid 1px;

    font-family: 'Inter';
    font-weight: 550;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

#index-profile-selection-list a:hover{
    color: #FFFFFF;
}

/* Above is everything for index page */

#main-body{
    background-color: #FFFFFF;
    overflow-x: hidden;
}

hr{
    border: none;
    margin-bottom: 80px;
}

#hr-myactivities{
    margin-bottom: 120px;
}

#main-header-logo{
    display: block;
    float: left;
    width: 55px;
    margin-left: 33px;
    margin-top: 12px;
}

#main-nav-container{
    display: block;
    position: fixed;
    background-color: #ffffffd3;
    z-index: 100;
    width: 98vw;
    left: 0.5vw;
    top: 0.5vh;
    padding-bottom: 1vh;
}

.main-nav{
    display: block;
    float: left;
    margin-left: 40px;
    margin-top: 32px;

    font-family: 'Inter';
    font-size: 18px;
    text-decoration-line: none;
    color: #000000;
}

.active{
    text-decoration-line: underline;
    font-weight: 550;
}

#main-login{
    position: absolute;
    right: 1vw;
    top: 15px;
}

#main-profile-container{
    display: flex;
    position: absolute;
    top: 2vh;
    right: 1.5vw;
}

#main-username{
    margin-right: 10px;
    width: fit-content;
    font-family: 'Inter';
    text-align: right;
    font-weight: 550;
    font-size: 20px;
    line-height: 51px;
}

#main-profile-button{
    cursor: pointer;
    display: block;
    float: right;
    align-items: right;
    background-image: url("Figures/profile-black.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    border: none;
    width: 51px;
    height: 51px;
    margin-right: 24.5px;
    margin-left: 24.5px;
}

#main-profile-button:hover + #main-profile-selection-list, #main-profile-selection-list:hover{
    display: block;
}

#main-profile-button:focus + #main-profile-selection-list{
    display: block;
}

#main-profile-selection-list{
    display: none;
    clear: both;
    width: 100px;
    height: 120px;
}

#main-profile-selection-list a{
    display: block;
    height: 40px;
    background-color: rgba(255, 199, 0, 0.8);
    border-bottom: #000000 solid 1px;

    font-family: 'Inter';
    font-weight: 550;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

#main-profile-selection-list a:hover{
    color: #FFFFFF;
}

/* Below is css for search */

#search-form{
    position: relative;
    margin-top: 3.5vh;
    margin-left: 8vw;
    display: block;
    float: left;
    width: 20vw;
    height: 5vh;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#search-button{
    position:absolute;
    top:0;
    left: 85%;
    cursor: pointer;
    display: block;
    float: right;
    background-image: url("Figures/search.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    border: none;
    width: 3vw;
    height: 3.2vh;
    margin-top: 0.9vh;
}

#search-input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;

}

#search-input:focus{
    outline: none;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
  }
  
#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }

/* Above is css for search */
/* Below is css for filter */

#filter-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 13vh;
    right: 18vw;
    width: 45vw;
}

.one-checkbox-container{
    float:left;
    width: 20%;
    margin-bottom: 3.1%;
}

.one-checkbox-container input[type=checkbox]{
    height:2.5vh;
    width: 2.5vw;
    padding: 0 0 0 0px;
    cursor:pointer;
}

.one-checkbox-container label{
    font-size: 2vh;
    line-height: 2.5vh;
    margin-left: -5%;
    align-items: center;
    cursor:pointer;
}

#filter-button{
    width: 15%;
    height: 2.5vh;
    background: #D9D9D9;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 1.5%;

    font-size: 13px;
    line-height: 2.5vh;
    font-weight: 550;
}


/* Above is css for filter */
/* Below is css for gallery */

.gallery-container{
    display:inline-block;
    height: 20vh;
    margin-top: 5vh;
}

.gallery-category p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    margin-left: 2.5vw;
}

#filtered-gallery-container{
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
    padding-top: 40px;
}

.swiper-container:first-of-type{
    padding-top: 100px;
}

#main-body > .swiper-container{
    padding-top: 50px;
}

#main-body > .swiper-container ~ .swiper-container{
    padding-top: 0px;
}

.swiper-container{
    width: 100vw;
    height: 240px;
    overflow: hidden;
}

.swiper-slide, .filtered-gallery-slide{
    width:fit-content;
    height: fit-content;
    margin-right: 6px;
    text-align: center;
    margin-top: 15px;
}

.filtered-gallery-slide{
    width:202px !important;
    height: 170px !important;
}

.swiper-slide a img:hover, .swiper-slide a img:hover + p, .filtered-gallery-slide img:hover{
    width:220px;
}

.swiper-slide a img:hover, .filtered-gallery-slide img:hover{
    height: 165px;
}

.filtered-gallery-slide a p{
    position: relative;
    left: -10px;
    background-color: #FFFFFF;
    display: block;
    width: 202px;
    text-align: center;
}

.filtered-gallery-slide a img:hover + p{
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
    left: -30px;
}

.filtered-gallery-slide img:hover{
    position: relative;
    left: -20px;
}

.filtered-gallery-slide:hover{
    position: relative;
    z-index: 10;
}

.swiper-slide img, .filtered-gallery-slide img{
    display: block;
    width:180px;
    height: 135px;
    object-fit: cover;
  }


.swiper-wrapper a, #filtered-gallery-container a{
    text-decoration: none;
    color: #000000;
}

.swiper-wrapper a p, #filtered-gallery-container a p{
    text-align: center;
    margin-top: 6px;
    width:180px;
}

.button-for-images-right{
    display: block;
    position: absolute;
    height: 80px;
    width: 30px;
    right:0vw;
    margin-top: 65px;
    background: rgba(217, 217, 217, 0.6);
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    z-index: 2;
}

.button-for-images-left{
    display: block;
    position:absolute;
    height: 80px;
    width: 30px;
    margin-top: 65px;
    background: rgba(217, 217, 217, 0.6);
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    z-index: 2;
}

.button-for-images-left:hover, .button-for-images-right:hover{
    background: rgba(255, 238, 0, 0.6);
    height: 135px;
    margin-top:35px;
}

/* Above is css for gallery */
/* Below is css for login and register page */

.login-nav{
    display: inline-block;
}

#login-body{
    background-color: #F6F6F6;
}

.login-container{
    background: #FFC444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 435px;
    height: 620px;
    margin: 0 auto;
    margin-top: 3vh;
}

.login-account-type-legend{
    font-family: 'Average';
    font-style: normal;
    font-size: 32px;
    text-align: center;
    padding-top: 1.5%;
}

.login-choose-type, .register-choose-type{
    list-style-type: none;
}

.login-choose-type li{
    float:left;
    width:175px;
    height:175px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 46px;
}

.register-choose-type li{
    float:left;
    width:133px;
    height:133px;
    margin-left: 58px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.login-choose-type label{
    background-color: #FFFFFF;
    background-position: center 15px;
    background-repeat: no-repeat;

    padding:5px;
    cursor:pointer;
    z-index:2;
    position:absolute;
    width: 175px;
    height: 175px;

    text-align: center;
}

.register-choose-type label{
    background-color: #FFFFFF;
    background-position: center 21.5px;
    background-repeat: no-repeat;
    background-size: auto 70px;

    cursor:pointer;
    z-index:2;
    position:absolute;
    width: 133px;
    height: 133px;

    text-align: center;
}

#login-as-user-label, #register-as-user-label{
    background-image: url("Figures/User-type.png");
}

#login-as-organizer-label, #register-as-organizer-label{
    background-image: url("Figures/organizer-type.png");
}

.login-choose-type label span{
    font-family: 'Average';
    font-size: 24px;
    position: relative;
    top: 138px;
}

.register-choose-type label span{
    font-family: 'Average';
    font-size: 16px;
    position: relative;
    top: 105.75px;
}

.login-choose-type input, .register-choose-type input{
    display: block;
    position:absolute;
    z-index:3;
    visibility: hidden;
}

.login-choose-type label:hover, .login-choose-type input[type="radio"]:checked + label{
    border:2px solid rgb(17, 0, 255); 
}

.register-choose-type label:hover, .register-choose-type input[type="radio"]:checked + label{
    border:2px solid rgb(17, 0, 255); 
}

#login-alert{
    color:red; 
    font-size: 14px; 
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: -24px;
}

#register-alert{
    color:red; 
    font-size: 14px; 
    margin-left: 42px;
    margin-bottom: 5px;
    margin-top: -19px;
}

.required-field::after{ 
    content: "*";
    color: red;
}

.login-type-info-button, .register-type-info-button{
    position: relative;
    z-index: 4;
    background: #D9D9D9;
    width: 23px;
    height: 23px;
    border-radius: 50%;

    font-family: 'Arial';
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #EC2A00;
}

.login-type-info-button{
    left: 160px;
    top:160px;
}

.register-type-info-button{
    left:108px;
    top:108px;
}

.login-type-info, .register-type-info{
    position: relative;
    z-index: 5;
    height: 30px;
    background-color: #EC2A00;
    display: none;

    font-size: 13px;
    text-align: center;
}

.login-type-info{
    top:165px;
    width: 185px;
}

.register-type-info{
    top:115px;
    width: 183px;
    right: 20px;
}

.login-type-info-button:hover + .login-type-info{
    display: block;
}

.register-type-info-button:hover + .register-type-info{
    display: block;
}

.login-password-fieldset label, .login-password-fieldset input{
    display: block;
    font-family: 'Average';
    font-size: 16px;
}

.login-password-fieldset label{
    margin-left: 42px;
    margin-bottom: 7px;
}

.login-password-fieldset input{
    font-size: 20px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 25px;
    width: 369px;
    height: 38px;
    margin-bottom: 12px;
    padding-left: 17px;
}

#login-username{
    margin-bottom: 18px !important;
}

#login-password{
    margin-bottom: 24px !important;
}

#register-password{
    margin-bottom: 25px !important;
}

#login-button, #register-button{
    display: block;
    background: #666666;
    border-radius: 25px;
    width: 223px;
    height: 38px;
    border: none;
    margin: 0 auto;
    margin-bottom: 18px;
    cursor: pointer;

    font-family: 'Average';
    font-size: 24px;
    color: #FFFFFF;
}

#login-button:hover, #register-button:hover{
    background-color: rgb(17, 0, 255);
}

#forgot-password{
    display: block;
    text-decoration: none;
    font-family: 'Average';
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-bottom: 31px;
}

#register{
    display: block;
    text-align: center;
    font-family: 'Average';
    font-size: 32px;
    color: #000000;
    text-decoration: none;
}

#forgot-password:hover, #register:hover{
    color: rgb(17, 0, 255);
}

#already-have-an-account{
    display: block;
    text-align: center;
}

#already-have-an-account a{
    text-decoration: none;
    color: rgb(17, 0, 255);
}

#already-have-an-account a:hover{
    color: rgba(17, 0, 255, 0.6);
}

/* Above is css for login/register */
/* Below is css for about_restaurant */

#back-to-restaurants{
    display: flex;
    align-items: center;
    height: 19px;
    font-size: 10px;
    color: #666666;
    text-decoration: none;
    margin-left: 5vw;
}

#back-to-restaurants > img{
    height: 19px;
    margin-right: 5px;
}

#back-to-restaurants > span{
    margin-top: 2px;
}

#about-page-container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 640.9px;
    /* height: 85vh; */
    width: 90vw;
    margin: 0 auto;
    align-content: space-between;

    font-size: 14px;
}

#about-page-container h1{
    font-size: 16px;
    text-align: center;
    margin-top: 11px;
}

#restaurant-image-wrapper, #reviews-container, #contacts-container, #categories-container, #details-container{
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#restaurant-image-wrapper{
    width: 30.4%;
    height: 316px;
}

#restaurant-image-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#restaurant-image-wrapper > div{
    position: relative;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);

    text-align: center;
    line-height: 50px;
    font-weight: 550;
    font-size: 16px;
}

#reviews-container{
    /* min-width: 256px; */
    width: 20.9%;
    height: 316px;
}

.reviews{
    display: block;
    width: 94%;
    margin: 15px auto;
}

.reviews > span{
    margin-right: 5%;
    display: block;
    width: 70px;
    float: left;
    line-height: 25.32px;
    font-weight: 550;
}

#overall > span{
    line-height: 29.33px !important;
}

#overall > img{
    width: 29.33px !important;
}

.reviews > img{
    width: 25.32px;
}

#contacts-container{
    /* min-width: 572px; */
    width: 46.7%;
    height: 316px;
}

.onecontact-wrapper{
    margin-bottom: 10px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    width: 45%;
    float: left;
}

.onecontact-wrapper > span, .onecontact-wrapper > a{
    margin-left: 5px;
}

.maps-photo{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#reservation-menu-categories-container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 30.4%;
}

#reservation-menu-categories-container > a{
    display: block;
    width: 49.2%;
    height: 42px;
    background: #FFC700;
    border-radius: 25px;

    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

#categories-container{
    width: 100%;
    height: 260px;
}

#categories-container > div{
    width: 45%;
    float: left;
    height: 25px;
    margin: 4px 2.5%;
    background: #D9D9D9;
    border-radius: 25px;

    text-align: center;
    line-height: 25px;
}

#details-container{
    /* min-width: 841px; */
    width: 68.5%;
    height: 309px;
}

#details-container h2, p{
    font-size: 14px;
    margin: 0 11px;
    line-height: 16px;
    text-align: justify;
}

/* My Activities */

.my-activities-container{
    width: min(1000px, 91vw);
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 33px auto;
    padding: 17px 2vw 11px;
}

.my-activities-container h1{
    font-size: 24px;
    margin-bottom: 15px;
}

.one-posted-activity{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    height: 55px;
    width: 96%;
    padding: 0 2%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-bottom: 22px;

    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.one-posted-activity > img{
    margin: 0 auto;
}

.one-posted-activity:hover{
    box-shadow: 0px 4px 4px rgb(17, 0, 255, 0.5);
}

#post-new-activity-button{
    display: block;
    border: none;
    height: 55px;
    width: min(880px, 87vw);
    background: rgba(255, 199, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    cursor: pointer;

    color: #FFFFFF;  
    line-height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#post-new-activity-button:hover{
    background-color: rgb(17, 0, 255, 0.75);
}

#new-activity-container{
    width: min(1300px, 92vw);
    height: fit-content;
}

#new-activity-container ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 13px 0 50px;
}

#new-activity-container li > label{
    background-color: #FFFFFF;
    background-position: right 24px bottom 8px;
    background-repeat: no-repeat;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    cursor:pointer;
    z-index:20;
    position:relative;
    width: 349px;
    height: 50px;
    margin: 10px;

    text-align: center;
    line-height: 50px;
    font-weight: 550;
    font-size: 20px;
}

#new-activity-restaurant + label{
    background-image: url("Figures/restaurant-icon.png");
}

#new-activity-entertainment + label{
    background-image: url("Figures/entertainment-icon.png");
}

#new-activity-event + label{
    background-image: url("Figures/event-icon.png");
}

#new-activity-container input[type="radio"]{
    display: block;
    position:absolute;
    z-index:30;
    visibility: hidden;
}

#new-activity-container li > label:hover, #new-activity-container input[type="radio"]:checked + label{
    box-shadow: 0px 4px 4px rgb(17, 0, 255, 0.75);
}

.new-activity-input-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-activity-input-flex-container > div, #new-activity-categories{
    margin: 7px 15px 22px;
}

.new-activity-input-flex-container > div > input,
.new-activity-input-flex-container > div > textarea, #new-activity-categories{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    max-width: 553px;
    width: 90vw;
    height: 38px;
    padding: 0 15px;

    font-size: 16px;
}

#about-activity, #features, #new-activity-categories{
    max-width: 1217px;
    width: 90vw;
    min-height: 73px;
    height: fit-content;
    padding: 15px 15px;
}

#new-activity-categories{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px;
    align-items: center;
}

#new-activity-categories > div{
    width: 140px;
    margin: 10px;
    
}

#new-activity-categories > div > input[type="checkbox"]{
    float: left;
    height:25px;
    width: 25px;
    padding: 0 0 0 0px;
    cursor:pointer;
}

#new-activity-categories > div > label{
    display: block;
    float: left;
    line-height: 25px;
    margin-left: 7px;
    cursor: pointer;
}

#about-activity, #features{
    border: none;
}

.new-activity-input-flex-container > div > input:focus,
.new-activity-input-flex-container > div > textarea:focus{
    outline: none;
    box-shadow: 0px 4px 4px rgb(17, 0, 255, 0.25);
}

.new-activity-input-flex-container > div > label{
    display: block;
    margin-bottom: 6px;
}

.input-image-wrap{
    position:relative;
    border:none;
    padding: 12.5px 150px;
    color:#969696;
    background: #FFFFFF;
    background-image: url("Figures/upload-icon.png");
    background-position: right 120px bottom 7px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 13px;
}

.input-image-wrap:hover{
    box-shadow: 0px 4px 4px rgb(17, 0, 255, 0.50);
}

#image-label{
    margin-bottom: 16.5px;
}

.input-image-wrap > input[type="file"]{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
}

.my-activities-container > button{
    width: 234px;
    height: 38px;
    background: #FFC700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    margin: 15px 0;
    cursor: pointer;

    font-weight: 550;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}

.my-activities-container > button:hover{
    background: rgb(17, 0, 255);
}



/* .login-choose-type, .register-choose-type{
    list-style-type: none;
}

.login-choose-type li{
    float:left;
    width:175px;
    height:175px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 46px;
}

.register-choose-type li{
    float:left;
    width:133px;
    height:133px;
    margin-left: 58px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.login-choose-type label{
    background-color: #FFFFFF;
    background-position: center 15px;
    background-repeat: no-repeat;

    padding:5px;
    cursor:pointer;
    z-index:2;
    position:absolute;
    width: 175px;
    height: 175px;

    text-align: center;
}

.register-choose-type label{
    background-color: #FFFFFF;
    background-position: center 21.5px;
    background-repeat: no-repeat;
    background-size: auto 70px;

    cursor:pointer;
    z-index:2;
    position:absolute;
    width: 133px;
    height: 133px;

    text-align: center;
}

#login-as-user-label, #register-as-user-label{
    background-image: url("Figures/User-type.png");
}

#login-as-organizer-label, #register-as-organizer-label{
    background-image: url("Figures/organizer-type.png");
}

.login-choose-type label span{
    font-family: 'Average';
    font-size: 24px;
    position: relative;
    top: 138px;
}

.register-choose-type label span{
    font-family: 'Average';
    font-size: 16px;
    position: relative;
    top: 105.75px;
}

.login-choose-type input, .register-choose-type input{
    display: block;
    position:absolute;
    z-index:3;
    visibility: hidden;
}

.login-choose-type label:hover, .login-choose-type input[type="radio"]:checked + label{
    border:2px solid rgb(17, 0, 255); 
}*/






