<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAED</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'catalog/Logos/favicon_golden.png' %}"/>
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
</head>
<body id="index-body">
    <header>
        <h1 id="index-header">What are you looking for?</h1>
	</header>
    <nav>
        <div class="index-nav-flex-wrapper">
            <a href = "/catalog/restaurants" class="index-nav">Restaurants</a>
            <a href = "" class="index-nav">Entertainment</a>
            <a href = "" class="index-nav">Events</a>
        </div>
        {% if user.is_authenticated %}
        <div id="index-profile-container">
            <div id="index-username">{{ user.username }}</div>
            <div id="index-profile-button-container">
                <button id="index-profile-button"></button>
                <div id="index-profile-selection-list">
                    <a href="">Profile</a>
                    {% if user.groups.first.name == "Organizer" %}
                    <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                    {% endif %}
                    <a href="">Help</a>
                    <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                </div>
            </div>
        </div>
        {% else %}
        <a href = "/catalog/login"><img id="login" src="{% static 'catalog/Figures/login.png' %}"></a>
        {% endif %}
  </nav>
  <img src="{% static 'catalog/Logos/logo_transparent_golden.png' %}" id="index-logo">
</body>
</html>
