<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAED</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'catalog/Logos/favicon_golden.png' %}"/>
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
</head>
<body id="main-body">
    <header>
        <nav id="main-nav-container">
            <a href="/catalog"><img id="main-header-logo" src="{% static 'catalog/Logos/logo_golden.png' %}"></a>
            <a href = "/catalog/restaurants" class="main-nav">Restaurants</a>
            <a href = "" class="main-nav">Entertainment</a>
            <a href = "" class="main-nav">Events</a>
            {% if user.is_authenticated %}
            <div id="main-profile-container">
                <div id="main-username">{{ user.username }}</div>
                <div id="main-profile-button-container">
                    <button id="main-profile-button"></button>
                    <div id="main-profile-selection-list">
                        <a href="">Profile</a>
                        {% if user.groups.first.name == "Organizer" %}
                        <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                        {% endif %}
                        <a href="">Help</a>
                        <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
            {% endif %}
        </nav>
	</header>
    <hr id="hr-myactivities">

    <div class="my-activities-container">
        <h1>My Activities</h1>
        {% for document in user_documents %}
        <button class="one-posted-activity" id="my-activities-{{ document.id }}">
            <span class="align-left">{{document.name}}</span>
            <img src="{% static 'catalog/Figures/restaurant-icon.png' %}">
            <span class="align-right">Restaurant</span>
        </button>

        <div class="my-activities-container edit-activity-container" id="edit-activity-{{ document.id }}">
        <form method="post" action="{% url 'maedweb:edit_activity_request' username=user.username document_id=document.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="new-activity-input-flex-container">
                <div>
                    <label for="company-name">Company name</label>
                    <input id="company-name" type="text" name="company-name" value="{{ document.name }}">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input id="address" type="text" name="address" value="{{ document.contacts.address }}">
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input id="phone" type="text" name="phone" value="{{ document.contacts.phone }}">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" value="{{ document.contacts.email }}">
                </div>
                <div>
                    <label for="website">Website</label>
                    <input id="website" type="url" name="website" value="{{ document.contacts.website }}">
                </div>
                <div>
                    <label for="menu-link">Menu link</label>
                    <input id="menu-link" type="url" name="menu-link" value="{{ document.menu_link }}">
                </div>
                <div>
                    <label for="about-activity">About activity</label>
                    <textarea id="about-activity" type="text" name="about-activity">{{ document.details.about }}</textarea>
                </div>
                <div>
                    <label for="features">Features</label>
                    <textarea id="features" type="text" name="features">{{ document.details.features }}</textarea>
                </div>
                <fieldset>
                    <legend class="required-field">Categories (Choose up to 3)</legend>
                    <div id="new-activity-categories">
                        <div>
                            <input type="checkbox" id="category-most-popular" name="categories" value="Most Popular" {% if "Most Popular" in document.categories %} checked {% endif %}>
                            <label for="category-most-popular">Most Popular</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-fast-food" name="categories" value="Fast Food" {% if "Fast Food" in document.categories %} checked {% endif %}>
                            <label for="category-fast-food">Fast Food</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-italian" name="categories" value="Italian" {% if "Italian" in document.categories %} checked {% endif %}>
                            <label for="category-italian">Italian</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-grill" name="categories" value="Grill" {% if "Grill" in document.categories %} checked {% endif %}>
                            <label for="category-grill">Grill</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-pasta" name="categories" value="Pasta" {% if "Pasta" in document.categories %} checked {% endif %}>
                            <label for="category-pasta">Pasta</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-breakfast" name="categories" value="Breakfast" {% if "Breakfast" in document.categories %} checked {% endif %}>
                            <label for="category-breakfast">Breakfast</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-new" name="categories" value="New" {% if "New" in document.categories %} checked {% endif %}>
                            <label for="category-new">New</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-lithuanian" name="categories" value="Lithuanian" {% if "Lithuanian" in document.categories %} checked {% endif %}>
                            <label for="category-lithuanian">Lithuanian</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-meat" name="categories" value="Meat" {% if "Meat" in document.categories %} checked {% endif %}>
                            <label for="category-meat">Meat</label>
                        </div>
    
                    </div>
                </fieldset>
                <div>
                    <label for="image" id="image-label">Image</label>
                    <img class="edit-image" src="{{document.image_url}}">
                    <span class="input-image-wrap">
                        Change Image
                        <input type="file" id="image-{{ document.id }}" name="image" accept="image/png, image/jpeg">
                    </span>
                    <span class="image-name" id="image-name-{{ document.id }}">No image is selected</span>

                    <script>
                        document.getElementById("image-{{ document.id }}").addEventListener("change", ()=>{
                            let editInputImage = document.querySelector("#image-{{ document.id }}").files[0];
                            document.getElementById("image-name-{{ document.id }}").innerText = editInputImage.name;
                        })
                    </script>

                    <script>
                        document.getElementById('my-activities-{{ document.id }}').addEventListener('click',function() {
                            var myActivity = document.getElementById('edit-activity-{{ document.id }}');
                            var displayValue = window.getComputedStyle(myActivity).display;
                            if(displayValue === 'none'){
                                document.getElementById('edit-activity-{{ document.id }}').style.display = 'block';
                            }
                            else{
                                document.getElementById('edit-activity-{{ document.id }}').style.display = 'none';
                            }
                            })
                    </script>
    
                </div>
            </div>
            <button type="submit">Submit Changes</button>
        </form>

        <form method="post" action="{% url 'maedweb:delete_activity_request' username=user.username document_id=document.id %}">
            {% csrf_token %}
            <button class="delete-activity-button" type="submit">Delete Activity</button>
        </form>

        </div>
        {% endfor %}
        <button class="one-posted-activity">
            <span class="align-left">Swimming Pool</span>
            <img src="{% static 'catalog/Figures/entertainment-icon.png' %}">
            <span class="align-right">Entertainment</span>
        </button>
        <button class="one-posted-activity">
            <span class="align-left">BestFestival</span>
            <img src="{% static 'catalog/Figures/event-icon.png' %}">
            <span class="align-right">Event</span>
        </button>
    </div>

    <button id="post-new-activity-button">Post a new activity</button>

    <script>
        document.getElementById('post-new-activity-button').addEventListener('click',function() {
            var btn = document.getElementById('new-activity-container');
            var displayValue = window.getComputedStyle(btn).display;
            if(displayValue === 'none'){
                document.getElementById('new-activity-container').style.display = 'block';
            }
            else{
                document.getElementById('new-activity-container').style.display = 'none';
            }
            })
    </script>

    <form class="my-activities-container" id="new-activity-container" method="post" action="{% url 'maedweb:new_activity_request' username=user.username %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>New Activity</h1>
        <fieldset>
            <legend class="required-field">Select activity type:</legend>
            <ul>
            <li>
                <input type="radio" id="new-activity-restaurant" name="new-activity-type" value="restaurant" checked="checked">
                <label for="new-activity-restaurant">Restaurant</label>
            </li>
            <li>
                <input type="radio" id="new-activity-entertainment" name="new-activity-type" value="entertainment">
                <label for="new-activity-entertainment">Entertainment</label>
            </li>
            <li>
                <input type="radio" id="new-activity-event" name="new-activity-type" value="event">
                <label for="new-activity-event">Event</label>
            </li>
            </ul>
        </fieldset>

        <div class="new-activity-input-flex-container">
            <div>
                <label class="required-field" for="company-name">Company name</label>
                <input id="company-name" type="text" name="company-name" required>
            </div>
            <div>
                <label for="address">Address</label>
                <input id="address" type="text" name="address">
            </div>
            <div>
                <label for="phone">Phone</label>
                <input id="phone" type="text" name="phone">
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" type="email" name="email">
            </div>
            <div>
                <label for="website">Website</label>
                <input id="website" type="url" name="website">
            </div>
            <div>
                <label for="menu-link">Menu link</label>
                <input id="menu-link" type="url" name="menu-link">
            </div>
            <div>
                <label for="about-activity">About activity</label>
                <textarea id="about-activity" type="text" name="about-activity"></textarea>
            </div>
            <div>
                <label for="features">Features</label>
                <textarea id="features" type="text" name="features"></textarea>
            </div>
            <fieldset>
                <legend class="required-field">Categories (Choose up to 3)</legend>
                <div id="new-activity-categories">
                    <div>
                        <input type="checkbox" id="category-most-popular" name="categories" value="Most Popular">
                        <label for="category-most-popular">Most Popular</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-fast-food" name="categories" value="Fast Food">
                        <label for="category-fast-food">Fast Food</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-italian" name="categories" value="Italian">
                        <label for="category-italian">Italian</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-grill" name="categories" value="Grill">
                        <label for="category-grill">Grill</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-pasta" name="categories" value="Pasta">
                        <label for="category-pasta">Pasta</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-breakfast" name="categories" value="Breakfast">
                        <label for="category-breakfast">Breakfast</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-new" name="categories" value="New">
                        <label for="category-new">New</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-lithuanian" name="categories" value="Lithuanian">
                        <label for="category-lithuanian">Lithuanian</label>
                    </div>
                    <div>
                        <input type="checkbox" id="category-meat" name="categories" value="Meat">
                        <label for="category-meat">Meat</label>
                    </div>

                </div>
            </fieldset>
            <div>
                <label for="image" class="required-field" id="image-label">Image</label>
                <span class="input-image-wrap">
                    Upload Image
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg" required>
                </span>
                <span class="image-name" id="image-name">No image is selected</span>

                <script>
                    let input = document.getElementById("image");
                    let imageName = document.getElementById("image-name")
            
                    input.addEventListener("change", ()=>{
                        let inputImage = document.querySelector("#image").files[0];
            
                        imageName.innerText = inputImage.name;
                    })
                </script>

            </div>
        </div>
        <button type="submit">Submit</button>
    </form>

</body>
</html>