{% extends 'login_base.html' %}

    {% block navigation %}
    <div id="expanded-nav">
        {% include "./components/nav.html"%}
    </div>

    <div id="collapsed-nav">
        <nav>
            {% include "./components/mobile-nav.html"%}
        </nav>
    </div>
    {% endblock %}

    {% block content %}
    <div class="login-container">
        <form action="{% url 'maedweb:registration' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="login-account-type-legend">Choose account type:</legend>
                <div class="register-choose-type">
                    <input type="radio" id="register-as-user" name="register-account-type" value="User" checked="checked">
                    <label for="register-as-user" id="register-as-user-label"><span>User</span></label>
                    <div class="register-type-info-button">?</div>
                    <div class="register-type-info">If you want to search and register for activities, choose this type</div>
                </div>
                <div class="register-choose-type">
                    <input type="radio" id="register-as-organizer" name="register-account-type" value="Organizer">
                    <label for="register-as-organizer" id="register-as-organizer-label"><span>Organizer</span></label>
                    <div class="register-type-info-button">?</div>
                    <div class="register-type-info">If you want to post your activities, choose this type</div>
                </div>
            </fieldset>
            {% if message %}
            <div id="register-alert">
            {{ message }}
            </div>
            {% endif %}
            <fieldset class="login-password-fieldset">
                <label for="register-username">Username</label>
                <input id="register-username" type="text" name="register-username">
                <label for="register-email">Email</label>
                <input id="register-email" type="email" name="register-email">
                <label for="register-name">Full name / Company name</label>
                <input id="register-name" type="text" name="register-name">
                <label for="register-password">Password</label>
                <input id="register-password" type="password" name="register-password">
            </fieldset>

            <button id="register-button" type="submit">Register</button>
        </form>
        <span id="already-have-an-account">Already have an account? <a href="/catalog/login">Login</a></span>
    </div>
    {% endblock %}
