<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAED</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'catalog/Logos/favicon_golden.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />   
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
</head>
<body id="main-body">
    <header>
        <div id="expanded-nav">
        <nav class="main-nav-container">
                    <a href="/catalog"><img id="main-header-logo" src="{% static 'catalog/Logos/logo_golden.png' %}"></a>
                    {% if activities == 'restaurants' %}
                    <a href = "/catalog/restaurants" class="main-nav active">Restaurants</a>
                    <a href = "/catalog/entertainment" class="main-nav">Entertainment</a>
                    <a href = "/catalog/events" class="main-nav">Events</a>
                    {% elif activities == 'entertainment' %}
                    <a href = "/catalog/restaurants" class="main-nav">Restaurants</a>
                    <a href = "/catalog/entertainment" class="main-nav active">Entertainment</a>
                    <a href = "/catalog/events" class="main-nav">Events</a>
                    {% elif activities == 'events' %}
                    <a href = "/catalog/restaurants" class="main-nav">Restaurants</a>
                    <a href = "/catalog/entertainment" class="main-nav">Entertainment</a>
                    <a href = "/catalog/events" class="main-nav active">Events</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div id="main-profile-container">
                        <div id="main-username">{{ user.username }}</div>
                        <div id="main-profile-button-container">
                            <button class="main-profile-button" id="expanded-nav-button"></button>
                            <div class="main-profile-selection-list" id="expanded-nav-user-menu">
                                <a href="">Profile</a>
                                {% if user.groups.first.name == "Organizer" %}
                                <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                                {% endif %}
                                <a href="">Help</a>
                                <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
                    {% endif %}
            </nav>

        <hr>
        

        <!-- Search -->
        <form action="{% url 'maedweb:search_request' activities=activities %}" method="post">
        {% csrf_token %}
            <div class="search-form">
                <input class="search-input" type="text" placeholder="Search:" name="search">
                <button class="search-button" type="submit"></button>
            </div>
        </form>
        
        <!-- Filter -->
        <form action="{% url 'maedweb:filter_request' activities=activities %}" method="post" class="filter-container">
        {% csrf_token %}
        {% if activities == 'restaurants' %}
        {% for category in categories.restaurant_categories %}
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                <label for="checkbox-{{category}}">{{category}}</label>
            </div>
        {% endfor %}
        {% elif activities == 'entertainment' %}
        {% for category in categories.entertainment_categories %}
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                <label for="checkbox-{{category}}">{{category}}</label>
            </div>
        {% endfor %}
        {% elif activities == 'events' %}
        {% for category in categories.event_categories %}
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                <label for="checkbox-{{category}}">{{category}}</label>
            </div>
        {% endfor %}
        {% endif %}
            <button class="filter-button" type="submit">Apply Filter</button>
        </form>

        </div>


<!-- Collapsed nav -->

        <div id="collapsed-nav">
            <nav>
                <div class="main-nav-container">
                    <button id="collapsed-nav-button"><img src="{% static 'catalog/Figures/menu.png' %}"></button>

                    <!-- Javascrpit for collapsed nav -->

                    <script>
                        document.getElementById('collapsed-nav-button').addEventListener('click',function() {
                            var navMenu = document.getElementById('collapsed-nav-expanded');
                            var navMenuDisplay = window.getComputedStyle(navMenu).display;
                            if(navMenuDisplay === 'none'){
                                navMenu.style.display = 'block';
                            }
                            else{
                                navMenu.style.display = 'none';
                            }
                            })
                    </script>

                    {% if user.is_authenticated %}
                    <div id="main-profile-container">
                        <div id="main-profile-button-container">
                            <button class="main-profile-button" id="collapsed-nav-profile-button"></button>
                            <div class="main-profile-selection-list" id="collapsed-nav-user-menu">
                                <a href="">Profile</a>
                                {% if user.groups.first.name == "Organizer" %}
                                <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                                {% endif %}
                                <a href="">Help</a>
                                <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <!-- Javascrpit for user menu -->

                    <script>
                        document.getElementById('collapsed-nav-profile-button').addEventListener('click',function() {
                            var userMenu = document.getElementById('collapsed-nav-user-menu');
                            var userMenuDisplay = window.getComputedStyle(userMenu).display;
                            if(userMenuDisplay === 'none'){
                                userMenu.style.display = 'block';
                            }
                            else{
                                userMenu.style.display = 'none';
                            }
                            })
                    </script>
                    {% else %}
                    <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
                    {% endif %}
                </div>
                <div id="collapsed-nav-expanded">
                    <div class="collapsed-nav-a-flexbox">
                        {% if activities == 'restaurants' %}
                        <a href = "/catalog/restaurants" class="active">Restaurants</a>
                        <a href = "/catalog/entertainment">Entertainment</a>
                        <a href = "/catalog/events">Events</a>
                        {% elif activities == 'entertainment' %}
                        <a href = "/catalog/restaurants">Restaurants</a>
                        <a href = "/catalog/entertainment" class="active">Entertainment</a>
                        <a href = "/catalog/events">Events</a>
                        {% elif activities == 'events' %}
                        <a href = "/catalog/restaurants">Restaurants</a>
                        <a href = "/catalog/entertainment">Entertainment</a>
                        <a href = "/catalog/events" class="active">Events</a>
                        {% endif %}
                    </div>

                    <!-- Search -->
                    <form action="{% url 'maedweb:search_request' activities=activities %}" method="post">
                        {% csrf_token %}
                        <div class="search-form" id="search-form-collapsed-nav">
                            <input class="search-input" type="text" placeholder="Search:" name="search">
                            <button class="search-button" type="submit"></button>
                        </div>
                    </form>

                    <!-- Filter -->
                    <form action="{% url 'maedweb:filter_request' activities=activities %}" method="post" class="filter-container" id="filter-container-collapsed-nav">
                        {% csrf_token %}
                        {% if activities == 'restaurants' %}
                        {% for category in categories.restaurant_categories %}
                            <div class="one-checkbox-container">
                                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                                <label for="checkbox-{{category}}">{{category}}</label>
                            </div>
                        {% endfor %}
                        {% elif activities == 'entertainment' %}
                        {% for category in categories.entertainment_categories %}
                            <div class="one-checkbox-container">
                                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                                <label for="checkbox-{{category}}">{{category}}</label>
                            </div>
                        {% endfor %}
                        {% elif activities == 'events' %}
                        {% for category in categories.event_categories %}
                            <div class="one-checkbox-container">
                                <input type="checkbox" class="checkbox" name="filter_checkbox" id="checkbox-{{category}}" value="{{category}}">
                                <label for="checkbox-{{category}}">{{category}}</label>
                            </div>
                        {% endfor %}
                        {% endif %}
                        <button class="filter-button" type="submit">Apply Filter</button>
                    </form>
                </div>
            </nav>

        </div>

</header>

<hr>
<!-- Gallery -->

<div id="filtered-gallery-container">

    {% for document in req_documents %}
    <div class="filtered-gallery-slide">
        <a href="{% url 'maedweb:about_activity' activities=activities document_id=document.id %}">
            <img src="{{ document.image_url }}">
            <p>{{ document.name }}</p>
        </a>
    </div>
    {% endfor %}   
        
</div>

</body>
</html>