<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAED</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'catalog/Logos/favicon_golden.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />    
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body id="main-body">
    <header>
        <div id="expanded-nav">
        <nav class="main-nav-container">
                    <a href="/catalog"><img id="main-header-logo" src="{% static 'catalog/Logos/logo_golden.png' %}"></a>
                    <a href = "/catalog/restaurants" class="main-nav active">Restaurants</a>
                    <a href = "" class="main-nav">Entertainment</a>
                    <a href = "" class="main-nav">Events</a>
                    {% if user.is_authenticated %}
                    <div id="main-profile-container">
                        <div id="main-username">{{ user.username }}</div>
                        <div id="main-profile-button-container">
                            <button class="main-profile-button" id="expanded-nav-button"></button>
                            <div class="main-profile-selection-list" id="expanded-nav-user-menu">
                                <a href="">Profile</a>
                                {% if user.groups.first.name == "Organizer" %}
                                <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                                {% endif %}
                                <a href="">Help</a>
                                <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
                    {% endif %}
            </nav>

        <hr>
        

        <!-- Search -->
        <form action="{% url 'maedweb:search_request' %}" method="post">
        {% csrf_token %}
            <div class="search-form">
                <input class="search-input" type="text" placeholder="Search:" name="search">
                <button class="search-button" type="submit"></button>
            </div>
        </form>
        
        <!-- Filter -->
        <form action="{% url 'maedweb:filter_request' %}" method="post" class="filter-container">
        {% csrf_token %}
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="first_checkbox" value="Most Popular">
                <label for="first_checkbox">Most Popular</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="second_checkbox" value="Fast Food">
                <label for="second_checkbox">Fast Food</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="third_checkbox" value="Italian">
                <label for="third_checkbox">Italian</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="fourth_checkbox" value="Grill">
                <label for="fourth_checkbox">Grill</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="fifth_checkbox" value="Pasta">
                <label for="fifth_checkbox">Pasta</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="sixth_checkbox" value="Breakfast">
                <label for="sixth_checkbox">Breakfast</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="seventh_checkbox" value="New">
                <label for="seventh_checkbox">New</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="eigth_checkbox" value="Lithuanian">
                <label for="eigth_checkbox">Lithuanian</label>
            </div>
            <div class="one-checkbox-container">
                <input type="checkbox" class="checkbox" name="filter_checkbox" id="ninth_checkbox" value="Meat">
                <label for="ninth_checkbox">Meat</label>
            </div>
            <button class="filter-button" type="submit">Apply Filter</button>
        </form>

        </div>


<!-- Collapsed nav -->

        <div id="collapsed-nav">
            <nav>
                <div class="main-nav-container">
                    <button id="collapsed-nav-button"><img src="{% static 'catalog/Figures/menu.png' %}"></button>

                    <!-- Javascrpit for collapsed nav -->

                    <script>
                        document.getElementById('collapsed-nav-button').addEventListener('click',function() {
                            var navMenu = document.getElementById('collapsed-nav-expanded');
                            var navMenuDisplay = window.getComputedStyle(navMenu).display;
                            if(navMenuDisplay === 'none'){
                                navMenu.style.display = 'block';
                            }
                            else{
                                navMenu.style.display = 'none';
                            }
                            })
                    </script>

                    {% if user.is_authenticated %}
                    <div id="main-profile-container">
                        <div id="main-profile-button-container">
                            <button class="main-profile-button" id="collapsed-nav-profile-button"></button>
                            <div class="main-profile-selection-list" id="collapsed-nav-user-menu">
                                <a href="">Profile</a>
                                {% if user.groups.first.name == "Organizer" %}
                                <a href="{% url 'maedweb:my_activities' username=user.username %}">My Activities</a>
                                {% endif %}
                                <a href="">Help</a>
                                <a href="{% url 'maedweb:logout' %}">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <!-- Javascrpit for user menu -->

                    <script>
                        document.getElementById('collapsed-nav-profile-button').addEventListener('click',function() {
                            var userMenu = document.getElementById('collapsed-nav-user-menu');
                            var userMenuDisplay = window.getComputedStyle(userMenu).display;
                            if(userMenuDisplay === 'none'){
                                userMenu.style.display = 'block';
                            }
                            else{
                                userMenu.style.display = 'none';
                            }
                            })
                    </script>
                    {% else %}
                    <a href = "/catalog/login"><img id="main-login" src="{% static 'catalog/Figures/login-black.png' %}"></a>
                    {% endif %}
                </div>
                <div id="collapsed-nav-expanded">
                    <div class="collapsed-nav-a-flexbox">
                        <a href = "/catalog/restaurants" class="active">Restaurants</a>
                        <a href = "">Entertainment</a>
                        <a href = "">Events</a>
                    </div>

                    <!-- Search -->
                    <form action="{% url 'maedweb:search_request' %}" method="post">
                        {% csrf_token %}
                        <div class="search-form" id="search-form-collapsed-nav">
                            <input class="search-input" type="text" placeholder="Search:" name="search">
                            <button class="search-button" type="submit"></button>
                        </div>
                    </form>

                    <!-- Filter -->
                    <form action="{% url 'maedweb:filter_request' %}" method="post" class="filter-container" id="filter-container-collapsed-nav">
                        {% csrf_token %}
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="first_checkbox" value="Most Popular">
                            <label for="first_checkbox">Most Popular</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="second_checkbox" value="Fast Food">
                            <label for="second_checkbox">Fast Food</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="third_checkbox" value="Italian">
                            <label for="third_checkbox">Italian</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="fourth_checkbox" value="Grill">
                            <label for="fourth_checkbox">Grill</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="fifth_checkbox" value="Pasta">
                            <label for="fifth_checkbox">Pasta</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="sixth_checkbox" value="Breakfast">
                            <label for="sixth_checkbox">Breakfast</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="seventh_checkbox" value="New">
                            <label for="seventh_checkbox">New</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="eigth_checkbox" value="Lithuanian">
                            <label for="eigth_checkbox">Lithuanian</label>
                        </div>
                        <div class="one-checkbox-container">
                            <input type="checkbox" class="checkbox" name="filter_checkbox" id="ninth_checkbox" value="Meat">
                            <label for="ninth_checkbox">Meat</label>
                        </div>
                        <button class="filter-button" type="submit">Apply Filter</button>
                    </form>
                </div>
            </nav>

        </div>

</header>

<hr><br>

<!-- Swiper1 -->

<div #swiperRef="" class="swiper-container mySwiper">
    <button class="button-for-images-left">
        <img src="{% static 'catalog/Figures/arrow-left.png' %}" class="arrow-left">
    </button>
    <button class="button-for-images-right">
        <img src="{% static 'catalog/Figures/arrow-right.png' %}" class="arrow-right">
    </button>
    <div class="gallery-category">
        <p>Most Popular:</p>
    </div>
    <div class="swiper-wrapper">
        {% for document in my_documents %}
        {% if "Most Popular" in document.categories %}
        <div class="swiper-slide">
            <a href="{% url 'maedweb:about_restaurant' document_id=document.id %}">
                <img src="{{ document.image_url }}">
                <p>{{ document.name }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    
</div>

<!-- Swiper2 -->

<div #swiperRef="" class="swiper-container mySwiper">
    <button class="button-for-images-left">
        <img src="{% static 'catalog/Figures/arrow-left.png' %}" class="arrow-left">
    </button>
    <button class="button-for-images-right">
        <img src="{% static 'catalog/Figures/arrow-right.png' %}" class="arrow-right">
    </button>
    <div class="gallery-category">
        <p>Fast Food:</p>
    </div>
    <div class="swiper-wrapper">
        {% for document in my_documents %}
        {% if "Fast Food" in document.categories %}
        <div class="swiper-slide">
            <a href="{% url 'maedweb:about_restaurant' document_id=document.id %}">
                <img src="{{ document.image_url }}">
                <p>{{ document.name }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    
</div>

<!-- Swiper3 -->

<div #swiperRef="" class="swiper-container mySwiper">
    <button class="button-for-images-left">
        <img src="{% static 'catalog/Figures/arrow-left.png' %}" class="arrow-left">
    </button>
    <button class="button-for-images-right">
        <img src="{% static 'catalog/Figures/arrow-right.png' %}" class="arrow-right">
    </button>
    <div class="gallery-category">
        <p>Italian:</p>
    </div>
    <div class="swiper-wrapper">
        {% for document in my_documents %}
        {% if "Italian" in document.categories %}
        <div class="swiper-slide">
            <a href="{% url 'maedweb:about_restaurant' document_id=document.id %}">
                <img src="{{ document.image_url }}">
                <p>{{ document.name }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    
</div>

<!-- Swiper4 -->

<div #swiperRef="" class="swiper-container mySwiper">
    <button class="button-for-images-left">
        <img src="{% static 'catalog/Figures/arrow-left.png' %}" class="arrow-left">
    </button>
    <button class="button-for-images-right">
        <img src="{% static 'catalog/Figures/arrow-right.png' %}" class="arrow-right">
    </button>
    <div class="gallery-category">
        <p>Meat:</p>
    </div>
    <div class="swiper-wrapper">
        {% for document in my_documents %}
        {% if "Meat" in document.categories %}
        <div class="swiper-slide">
            <a href="{% url 'maedweb:about_restaurant' document_id=document.id %}">
                <img src="{{ document.image_url }}">
                <p>{{ document.name }}</p>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    
</div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.mySwiper', {
        slidesPerView: "auto",
        loop:true,
        spaceBetween: 0,
        centeredSlides: true,
        freeMode: true,
        // If window size is bigger than 640px, then you will slide through 5 slides, if not, than through 1 slide
        breakpoints:{
            640:{
                slidesPerGroup:3,
                rewind:true,
                loop:false,
                centeredSlides: false,
            },
            1100:{
                slidesPerGroup:4,
                rewind:true,
                loop:false,
                centeredSlides: false,
            }

        },  
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        navigation: {
            nextEl: '.button-for-images-right',
            prevEl: '.button-for-images-left',
        },
    });
    </script>
</body>
</html>